.App {
  text-align: center;
}

.nav{
display:flex;
justify-content: space-around;
align-items: center;
min-height: 10vh;
background: rgb(52, 79, 138);
color: cornsilk;
}

.nav-links{
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}